/* light mode colour palette */
:root {
    --backgroundClr: rgb(247, 247, 247);
    --textClr: rgb(32, 32, 32);
    --accentClr: rgb(255, 101, 55);
    --underlayClr: rgba(219, 219, 219, 0.897);

    scroll-behavior: smooth;
}

/* dark mode colour palette */
.darkMode {
    --backgroundClr: rgb(32, 32, 32);
    --textClr: rgb(230, 230, 230);
    --underlayClr: rgba(54, 54, 54, 0.897);
}

/* ALL PAGES */
body {
    background-color: var(--backgroundClr);
    color: var(--textClr);
    text-align: center;
    font-family: arial, sans-serif;
    user-select: none;
}

.textBlurts {
    font-size: 20px;
    padding-top: 15px;
    padding-left: 100px;
    padding-right: 100px;
}

.titles {
    font-family: arial black, sans-serif;
}

/* ICONS */
.openMenu {
    font-size: 35px;
    cursor: pointer;
    position: fixed;
    top: 20px;
    left: 15px;
    height: 50px;
    width: 40px;
    box-shadow: 0 2px 6px 0 var(--textClr);
    border-radius: 15px;
    user-select: none;
    position: -webkit-sticky;
}

.modeSelector {
    font-size: 35px;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    box-shadow: 0 2px 8px 0 var(--textClr);
    border-radius: 15px;
    user-select: none;
    position: -webkit-sticky;
}

/* NAVIGATION */
.overlay {
    height: 38%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: var(--accentClr);
    transition: 0.5s;
    border-radius: 0px 100px 100px 0px;
    border-bottom: 3px solid var(--textClr);
}

.navEle {
    padding: 8px;
    padding-left: 75px;
    text-align: left;
    text-decoration: none;
    font-size: 34px;
    font-family: arial black, sans-serif;
    color: var(--textClr);
    display: block;
    transition: 0.3s;
}

.navEle:hover,
.navEle:focus {
    color: var(--backgroundClr);
    font-weight: bold;
}

/* HOME PAGE */
.slideshow {
    position: relative;
    width: 750px;
    height: 500px;
    margin: 50px auto 50px auto;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 10px double var(--textClr);
    border-radius: 35%;
}

.slideNav {
    position: absolute;
    z-index: 2;
    top: 40%;
    background-color: var(--underlayClr);
    font-size: 35px;
    padding: 0px 5px 0px 5px;
    border: 2px double var(--textClr);
    border-radius: 30%;
}

.slideNav:hover {
    color: var(--accentClr);
}

.slideLeft {
    left: 0;
}

.slideRight {
    right: 0;
}

.name {
    font-size: 38px;
    margin-top: 25px;
}

.logo {
    width: 75px;
    margin: 10px;
}

/* ABOUT ME */
.promPic {
    height: 480px;
    /* width: auto; */
    border-radius: 25%;
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 15px 0 var(--textClr);
}

.aboutMeTextBlurts {
    display: flex;
}

.aboutMeText {
    background-color: var(--underlayClr);
    box-shadow: 0 4px 15px 0 var(--textClr);
    margin: 30px 70px 0px 70px;
    padding: 15px;
    border-radius: 50px;
}

/* EXPERIENCE */
.flipCard {
    width: 250px;
    height: 250px;
    perspective: 1000px;
    display: inline-block;
    margin: 10px;
}

.flipCardInner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 var(--textClr);
}

.flipCard:hover .flipCardInner {
    transform: rotateY(180deg);
}

.flipCardFront,
.flipCardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flipCardFront {
    background-color: var(--backgroundClr);
}

.flipCardBack {
    background-color: var(--underlayClr);
    color: var(--textClr);
    transform: rotateY(180deg);
}

/* PROJECTS */
.lang {
    display: inline-block;
    margin: 0px 30px 0px 30px;
}

.langImg {
    width: auto;
    height: 80px;
    padding: 5px;
}

.langImg:hover {
    background-color: var(--underlayClr);
    box-shadow: 0 4px 8px 0 var(--accentClr);
    border-radius: 10px;
}

.arrow {
    color: var(--textClr);
    font-size: 50px;
    text-decoration: none;
    user-select: none;
}

.arrow:hover {
    color: var(--accentClr);
}

.langInfo {
    display: none;
    height: auto;
    width: auto;
    padding: 15px;
    background-color: var(--underlayClr);
    border-radius: 10px;
}

.langLinks {
    text-decoration: none;
    color: var(--textClr);
}

.langLinks:hover {
    color: var(--accentClr);
}
